.immerse-alt-baslik {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #444;
    margin-bottom: 20px;
}

.immerse-logo-kapsayici {
    text-align: center;
    margin-bottom: 25px;
}

.immerse-logo {
    max-width: 220px;
    height: auto;
}
